# ============================
# Default build configuration
# ============================

-d:release
--threads:off
--tlsEmulation:off

--opt:speed
--passC="-O3"
--passL="-O3"

--stackTrace:off
--lineTrace:off
--assertions:off
--checks:off

--hints:off
--warnings:on

--warning[ProveInit]:on
--warning[Uninit]:on
